    <header>  
      <nav class="navbar">  
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a routerLink ="/welcome" class="navbar-brand">
              <img src="{{logo}}" style.margin.%={{margImg}} style.width.px={{widImg}} style.height.px={{hitImg}}>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a  routerLink ="/welcome">Home</a></li>
              <li><a [routerLink] ="['/product']">Product</a></li>
              <li><a [routerLink] ="['/sales']">Sale</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Admin</a></li>
            </ul>
          </div>            
        </div>
      </nav>
    </header>